<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
</head>
<body>
    <form action="/register" method="post">
        <label>Username:</label><input type="text" name="username"><br>
        <label>Email:</label><input type="email" name="email"><br>
        <label>Password:</label><input type="password" name="password"><br>
        <button type="submit">Register</button>
    </form>
</body>
</html>
